:root {
  --main-color: #006600;
}

body {
        background-color: #FFFFFF;
        color: #000000;
        font-family: Trebuchet MS;
        font-size: 15px;
        margin: 0;
        padding: 0;
}

h1 {
        font-size: 60px;
        text-align: center;
        width: 94%;
        margin: 10px 3% 10px 3% ;
        color:var(--main-color);
}

h2 {
        font-size: 30px;
        text-align: center;
        width: 98%;
        margin: 1%;
        color:var(--main-color);
}

p {
        margin: auto;
}

img {
        image-orientation: from-image;
}

.banner {
        position: inline;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50px;
        z-index: -1;
        background-color: var(--main-color);
}

.banner-links {
        text-align: right;
        line-height:50px;
        list-style: none;
        color: #ffffff;
        float: right;
        padding:0;
        margin:0;
}
.banner-links > li {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px;
}
.banner-links > li > a {text-decoration: none;color: #ffffff;}
.banner-links > li > a:hover {color: #ccffcc;}

.banner-home {
        display: inline;
        margin: 0;
        padding: 0;
        border: none;
        width: 50px;
        height: 50px;
        z-index: 0;
        float:left;
}

.date {
        line-height:50px;
        display:inline-block;
        float:left;
        color:white;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1300px;
    max-height: 700px;
    height:70%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


.imagecontainer {
    margin:0;
    width:50%;
    height:400px;
    float:left;
    object-fit:contain;
}

.aboutcontainer {
    margin-left:10%;
    width:100%;
    display:inline-block;
    margin-bottom:20px;
}

.aboutinformation {
    float:left;
    margin-right:5%;
    width:50%
}

.abouttitle {
    text-align:right;
    font-weight:bold;
    font-size:20px;
    width:100%;
}

.abouttitle2 {
    text-align:right;
    font-style:italic;
    width:100%;
}

.aboutdate {
    text-align:right;
    color:#777777;
    font-style:italic;
    width:100%;
}

.abouttext {
    /*text-align:left;*/
    text-align:right;
    width:100%;
}

.aboutimage {
    float:left;
    width:25%;
    object-fit:contain;
    max-height:300px;
    max-width:300px;
}

.aboutcontainer2 {
    margin-left:10%;
    width:100%;
    display:inline-block;
    margin-bottom:20px;
}

.aboutcontainer2 .aboutinformation {
    float:left;
    margin-left:5%;
    width:50%
}

.aboutcontainer2 .abouttitle {
    text-align:left;
    font-weight:bold;
    font-size:20px;
    width:100%;
}

.aboutcontainer2 .abouttitle2 {
    text-align:left;
    font-style:italic;
    width:100%;
}

.aboutcontainer2 .aboutdate {
    text-align:left;
    color:#777777;
    font-style:italic;
    width:100%;
}

.aboutcontainer2 .abouttext {
    text-align:left;
    width:100%;
}

.aboutcontainer2 .aboutimage {
    float:left;
    width:25%;
    object-fit:contain;
    max-height:100%;
    max-height:300px;
    max-width:300px;
}

.fa {
    width:100%;
    text-align:center;
    font-size:32px;
    color: var(--main-color);
}



